<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    {% block scripts %}
    {% endblock scripts %}
    <title>Paint Database - {% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>
<body>
    <div class="header">
        {% block header %}
        <h1>Paint Database</h1>
        {% endblock header %}
    </div>

    {% include "navbar.html" %}

    {% block content %}
    {% endblock content %}
</body>
</html>