{% extends "layout.html" %}
{% block title %}Database{% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block scripts %}<script src="{{ url_for('static',filename='scripts/filter.js') }}"></script>{% endblock scripts %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block content %}
    <div>
        <input type="text" id="userInput" onkeyup="listFilter()" placeholder="Sort...">
    </div>

    <div class="grid-container grid-container--fit cards">
    {% for paint in paints  %}
        <div class="grid-element {{ paint.paint_colour }} card">
            {% include 'fullcard.html' %}
        </div>
    {% endfor %}
    </div>
{% endblock content %}