{% extends "layout.html" %}
{% block title %}Add Project{% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block content %}

<br/>
<div class="project-form">
    <form method="POST" action="">
        <fieldset>
            <label for="name"><span>Name:
                <span class="required">*</span>
                <input type="text" class="input-field" name="name" id="name">
            </span>
            </label>
            <label for="system"<span>System:
                <span class="required">*</span>
                <input type="text" class="input-field" name="system" id="system">
        </span>
        </fieldset>
    </form>
</div>

{% endblock %}