{% extends "layout.html" %}
{% block title %}Add Paint{% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block content %}
<br/>
<div class="paint-form">
    <fieldset>
        <label for="name"><span>Name:
            <span class="required">*</span>
            </span>
            <input type="text" class="input-field" name="name" id="name">
        </label>
        <label for="paintid"><span>ID Number:
            <span class="required">*</span>
            </span>
            <input type="text" class="input-field" name="paintid" id="paintid" placeholder="XX-XX">
        </label>
        <label for="type"><span>Paint Type:
            </span>
            <input type="text" class="input-field" name="type" id="type">
        </label>
        <label for="amount"><span>Number of Pots:
            <span class="required">*</span>
            </span>
            <input type="number" class="input-field" name="amount" id="amount">
        </label>
        <label for="status"><span>Current Pot Status:
        </span>
            <select name="status" id="status">
                <option value="Full">Full</option>
                <option value="Low">Low</option>
                <option value="Empty">Empty</option>
            </select>
        </label>
        <label for="colour"><span>Colour Family:
            <span class="required">*</span>
            </span>
            <input type="text" class="input-field" name="colour" id="colour">
        </label>
        <label for="brand"><span>Brand:</span>
            <input type="text" class="input-field" name="brand" id="brand">
        </label>
        <br/>
        <label for="hexcode"><span>Hexcode:</span>
            <input type="color" class="input-field" name="hexcode" id="hexcode">
        </label>
        <div>
            <input type="submit" value="Submit">
        </div>
    </fieldset>
</div>
{% endblock %}