{% extends "layout.html" %}
{% block title %}Update Paint{% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block content %}
<table align="center" width="60%" class="table">
    <tr>
        <td>
            <h3 align="center">Add Paint</h3>
            <form method="post" action="" enctype="application/x-www-form-urlencoded"
                  name="submission_form" id="submission_form">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" value="{{ paint.paint_name }}">
                    <span>*</span>
                </div>
                <div>
                    <label for="paintid">ID Number:</label>
                    <input type="text" name="paintid" id="paintid" value="{{ paint.paint_id }}">
                    <span>*</span>
                </div>
                <div>
                    <label for="type">Paint Type:</label>
                    <input type="text" name="type" id="type" value="{{ paint.paint_type }}">
                    <span>*</span>
                </div>
                <div>
                    <label for="amount">Number of Pots:</label>
                    <input type="number" name="amount" id="amount" value="{{ paint.pot_amount }}">
                    <span>*</span>
                </div>
                <div>
                    <label for="status">Current Pot Status:</label>
                    <input type="text" name="status" id="status" value="{{ paint.pot_status }}">
                    <span>*</span>
                </div>
                <div>
                    <label for="colour">Paint Colour:</label>
                    <input type="text" name="colour" id="colour" value="{{ paint.paint_colour }}">
                    <span>*</span>
                </div>
                <div>
                    <label for="hexcode">Hexcode:</label>
                    <input type="text" name="hexcode" id="hexcode" value="{{ paint.hexcode }}">
                </div>
                <div>
                    <input type="submit" value="Update">
                </div>
            </form>
        </td>
    </tr>
</table>
{% endblock %}