/* Global colour settings */

:root {
    --black: #000;
    --darker: #111;
    --dark: #333;
    --light: #888;
    --white: #fff;
    --good: 008000;
    --caution: ffff00;
    --danger ff0000;
}

/* Grid settings */

.grid-container {
    align-content: center;
    display: grid;
}

.grid-container--fill {grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));}

.grid-container--fit {grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));}

.grid-element {padding: 15px;}

.header {
    background-color: var(--black);
    color: var(--white);
    padding: 15px;
}

/* Nav bar settings */

.navBar {text-align: center;}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark);
}

.navBar li { float: left}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar a:hover {background-color: var(--darker);}

/* Submission/update form settings */

.paint-form {
    margin: auto;
    max-width: 450px;
}

.paint-form label {
    display: block;
    margin-bottom: 10px;
}

.paint-form label > span {
    float: left;
    width: 125px;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px var(--white);
}

.paint-form fieldset {
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid var(--light);
    padding: 20px;
}

.paint-form input[type=submit] {
    display: block;
    margin: 0 auto;
}

.required {color: red;}

/* Card display settings */

.fullCard {border: 1px solid var(--black);}

.simpleCard {border: 1px solid var(--black);}

.paintHeader {display: flex;}

.paintBody {
    display: grid;
    grid-template-areas:
        'paint pot';
}

.paintName {
    flex-grow: 1;
    border-bottom: 1px solid var(--black);
    font-weight: bold;
    color: var(--white);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px var(--black);
}

.paintMenu {
    font-size: 0;
    border-bottom: 1px solid var(--black);
}

.paintMenu a {padding: 0px;}

.paintInfo {grid-area: paint;}

.potInfo {grid-area: pot;}

.warning {border-top: 1px solid var(--black);}

.good-bg {background-color: green;}

.caution-bg {background-color: yellow;}

.danger-bg {background-color: red;}

/* Other settings */

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
